<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Corgi</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">{% if user.is_authenticated %}
            <li ><a href="{% url 'auth_logout' %}">Logout</a></li>{% else %}
            <li ><a href="{% url 'auth_login' %}">Login</a></li><li><a href="{% url 'registration_register' %}">Register</a></li>{% endif %}   
            <li><a href="#contact">About us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
